<!DOCTYPE html>
<html>
<head>
    <title>Search Vehicle</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Search Vehicle</h1>
        <form class="form" method="post">
            <input type="text" name="vehicle_number" placeholder="Vehicle Number" required>
            <button type="submit" class="btn">Search</button>
        </form>
        {% if vehicles %}
        <div class="table-container">
            <table>
                <tr><th>ID</th><th>Number</th><th>Type</th><th>Entry</th><th>Exit</th><th>Fee</th></tr>
                {% for v in vehicles %}
                <tr>
                    <td>{{ v[0] }}</td>
                    <td>{{ v[1] }}</td>
                    <td>{{ v[2] }}</td>
                    <td>{{ v[3] }}</td>
                    <td>{{ v[4] }}</td>
                    <td>{{ v[5] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        <a href="/" class="back-link">Back to Home</a>
    </div>
</body>
</html>